windows/branches/sacis.model.webService/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="verificaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verificaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastramento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmluser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastramentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="consultaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaContato">
        <s:complexType />
      </s:element>
      <s:element name="retornaContatoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaContatoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="verificaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:verificaUsuario" />
  </wsdl:message>
  <wsdl:message name="verificaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:verificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="cadastramentoSoapIn">
    <wsdl:part name="parameters" element="tns:cadastramento" />
  </wsdl:message>
  <wsdl:message name="cadastramentoSoapOut">
    <wsdl:part name="parameters" element="tns:cadastramentoResponse" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:consultaUsuario" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:consultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="retornaContatoSoapIn">
    <wsdl:part name="parameters" element="tns:retornaContato" />
  </wsdl:message>
  <wsdl:message name="retornaContatoSoapOut">
    <wsdl:part name="parameters" element="tns:retornaContatoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="verificaUsuario">
      <wsdl:input message="tns:verificaUsuarioSoapIn" />
      <wsdl:output message="tns:verificaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cadastramento">
      <wsdl:input message="tns:cadastramentoSoapIn" />
      <wsdl:output message="tns:cadastramentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <wsdl:input message="tns:consultaUsuarioSoapIn" />
      <wsdl:output message="tns:consultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaContato">
      <wsdl:input message="tns:retornaContatoSoapIn" />
      <wsdl:output message="tns:retornaContatoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verificaUsuario">
      <soap:operation soapAction="http://tempuri.org/verificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastramento">
      <soap:operation soapAction="http://tempuri.org/cadastramento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContato">
      <soap:operation soapAction="http://tempuri.org/retornaContato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verificaUsuario">
      <soap12:operation soapAction="http://tempuri.org/verificaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastramento">
      <soap12:operation soapAction="http://tempuri.org/cadastramento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap12:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContato">
      <soap12:operation soapAction="http://tempuri.org/retornaContato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:64020/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:64020/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>