windows/branches/sacis.view.control/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="teste">
        <s:complexType />
      </s:element>
      <s:element name="testeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verificaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastraUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmluser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastraUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="consultaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="consultaUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaContatos">
        <s:complexType />
      </s:element>
      <s:element name="retornaContatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaContatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastraContatoPessoal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cadastraContatoPessoalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cadastraContatoPessoalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaContatoPessoal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retornaContatoPessoalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retornaContatoPessoalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeContatoPessoal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeContatoPessoalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="removeContatoPessoalResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testeSoapIn">
    <wsdl:part name="parameters" element="tns:teste" />
  </wsdl:message>
  <wsdl:message name="testeSoapOut">
    <wsdl:part name="parameters" element="tns:testeResponse" />
  </wsdl:message>
  <wsdl:message name="verificaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:verificaUsuario" />
  </wsdl:message>
  <wsdl:message name="verificaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:verificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="cadastraUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:cadastraUsuario" />
  </wsdl:message>
  <wsdl:message name="cadastraUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:cadastraUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:consultaUsuario" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:consultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="retornaContatosSoapIn">
    <wsdl:part name="parameters" element="tns:retornaContatos" />
  </wsdl:message>
  <wsdl:message name="retornaContatosSoapOut">
    <wsdl:part name="parameters" element="tns:retornaContatosResponse" />
  </wsdl:message>
  <wsdl:message name="cadastraContatoPessoalSoapIn">
    <wsdl:part name="parameters" element="tns:cadastraContatoPessoal" />
  </wsdl:message>
  <wsdl:message name="cadastraContatoPessoalSoapOut">
    <wsdl:part name="parameters" element="tns:cadastraContatoPessoalResponse" />
  </wsdl:message>
  <wsdl:message name="retornaContatoPessoalSoapIn">
    <wsdl:part name="parameters" element="tns:retornaContatoPessoal" />
  </wsdl:message>
  <wsdl:message name="retornaContatoPessoalSoapOut">
    <wsdl:part name="parameters" element="tns:retornaContatoPessoalResponse" />
  </wsdl:message>
  <wsdl:message name="removeContatoPessoalSoapIn">
    <wsdl:part name="parameters" element="tns:removeContatoPessoal" />
  </wsdl:message>
  <wsdl:message name="removeContatoPessoalSoapOut">
    <wsdl:part name="parameters" element="tns:removeContatoPessoalResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="teste">
      <wsdl:input message="tns:testeSoapIn" />
      <wsdl:output message="tns:testeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificaUsuario">
      <wsdl:input message="tns:verificaUsuarioSoapIn" />
      <wsdl:output message="tns:verificaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cadastraUsuario">
      <wsdl:input message="tns:cadastraUsuarioSoapIn" />
      <wsdl:output message="tns:cadastraUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <wsdl:input message="tns:consultaUsuarioSoapIn" />
      <wsdl:output message="tns:consultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaContatos">
      <wsdl:input message="tns:retornaContatosSoapIn" />
      <wsdl:output message="tns:retornaContatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cadastraContatoPessoal">
      <wsdl:input message="tns:cadastraContatoPessoalSoapIn" />
      <wsdl:output message="tns:cadastraContatoPessoalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retornaContatoPessoal">
      <wsdl:input message="tns:retornaContatoPessoalSoapIn" />
      <wsdl:output message="tns:retornaContatoPessoalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeContatoPessoal">
      <wsdl:input message="tns:removeContatoPessoalSoapIn" />
      <wsdl:output message="tns:removeContatoPessoalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="teste">
      <soap:operation soapAction="http://tempuri.org/teste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaUsuario">
      <soap:operation soapAction="http://tempuri.org/verificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastraUsuario">
      <soap:operation soapAction="http://tempuri.org/cadastraUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContatos">
      <soap:operation soapAction="http://tempuri.org/retornaContatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastraContatoPessoal">
      <soap:operation soapAction="http://tempuri.org/cadastraContatoPessoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContatoPessoal">
      <soap:operation soapAction="http://tempuri.org/retornaContatoPessoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeContatoPessoal">
      <soap:operation soapAction="http://tempuri.org/removeContatoPessoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="teste">
      <soap12:operation soapAction="http://tempuri.org/teste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificaUsuario">
      <soap12:operation soapAction="http://tempuri.org/verificaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastraUsuario">
      <soap12:operation soapAction="http://tempuri.org/cadastraUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap12:operation soapAction="http://tempuri.org/consultaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContatos">
      <soap12:operation soapAction="http://tempuri.org/retornaContatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cadastraContatoPessoal">
      <soap12:operation soapAction="http://tempuri.org/cadastraContatoPessoal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornaContatoPessoal">
      <soap12:operation soapAction="http://tempuri.org/retornaContatoPessoal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeContatoPessoal">
      <soap12:operation soapAction="http://tempuri.org/removeContatoPessoal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:51664/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:51664/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>